@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s linear;
    
}

html {
    font-size: 90%;
}

:root {
    --Cyan: hsl(176, 68%, 64%);
    --Blue: hsl(198, 60%, 50%);
    --Light-Red: hsl(0, 100%, 63%);
    --open-sans: 'Open Sans', sans-serif;
    --raleway: 'Raleway', sans-serif;
}

section {
    padding: 3rem 9%;
}

body {
    width: 100%;
    background: hsl(218, 28%, 13%);
    color:  hsl(0, 0%, 100%);
}

.header {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    width: 10rem;
}

.header .logo img {
    width: 100%;
}

.header .navbar {
    display: flex;
}

.header .navbar ul {
    display: flex;
    
}

.header .navbar ul li {
    margin-top: .8rem;
    margin-left: 2rem;
    list-style: none;
}

.header .navbar ul li a {
    color: white;
    font-family: var(--raleway);
    font-size: 1.2rem;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 2rem;
    
}

.hero .image {
    max-Width: 50rem;
    margin: auto;

}

.hero .image img {
    width: 100%;
}

.hero .hero-content {
    width: 70%;
    font-family: var(--raleway);
    

}

.hero .hero-content h1 {
    font-size: 3rem;
    
}

.hero .hero-content p {
    font-size: 1rem;
    margin: 2rem auto;
    width: 70%;
    line-height: 1.8;
}

.btn {
    width: 40px;
    background: var(--Cyan);
    padding: .7rem 3rem;
    color: white;
    border-radius: 20px;
    font-family: var(--raleway);
    font-size: 1.3rem;
    
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    font-family: var(--raleway);
}

.cards .card {
    display: flex;
    flex-direction: column;
}

.cards .card .image {
    align-content: center;
    text-align: center;
}

.cards .card .content {
    text-align: center;
}

.cards .card .content h2 {
    margin: 1rem 0;
    font-size: 2rem;
}

.cards .card .content p {
    width: 80%;
    margin: auto;
    line-height: 1.8;

}

.productive-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-family: var(--raleway);
}

.productive-container .image {
    flex: 1 1 30rem;
}

.productive-container .image img {
    width: 100%;
}

.productive-container .content {
    flex: 1 1 25rem;
    
    padding: 6rem 0;
}

.productive-container .content h1 {
    font-size: 3rem;
    
}

.productive-container .content p {
    font-size: 1rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.productive-container .content a {
    color: cyan;
    font-size: 1.4rem;
    text-decoration: underline;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    font-family: var(--raleway);
    margin: auto;
    position: relative;
}

.testimonials::before{
    content:url("images/bg-quotes.png");
    z-index: -1;
    position:absolute;
    left: 100px;
    top: 10px;
   
}

.testimonials .card {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background: hsl(219, 30%, 18%);
    padding: 2rem 3rem;
    border-radius: 5px;
    gap: 1rem;
}

.testimonials .card .card-content p {
    line-height: 1.8;
}

.testimonials .card .user-info {
    display: flex;
    gap: 1rem;
}

.testimonials .card .user-info .image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.testimonials .card .user-name p {
    font-weight: bold;
}

.testimonials .card .user-name span {
    font-weight: normal;
}

.access {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-family: var(--raleway);
}

.access .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
    margin: auto;
    background: hsl(219, 30%, 18%);
    height: 300px;
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
    transform: translateY(30%);
   

}

.access .form h1 {
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.access .form p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.8;
}


.access .form form input {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 10px 15px;
    margin-right: 1rem;
}

.access .form form a {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background: cyan;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.footer {
    background: hsl(216, 53%, 9%);
    padding: 10rem 4rem;
    display: flex;
    justify-content: space-between;
    gap:2rem;
    margin: auto;
    font-family: var(--raleway);
    
    
    
}

.footer .logo {
    display: flex;
    flex-direction: column;
}

.footer .footer-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer .content{
    display: flex;
    gap: 1rem;
    
}

.footer .card-1 p {
    width: 250px;
}

.footer .footer-col .contact-info {
    display: flex;
    gap: 1rem;
}

.footer .card-3 ul li {
    list-style: none;
    line-height: 1.8;
}

.footer .card-4 {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}















@media (max-width:991px){

    section {
        padding:  2rem;
    }

    .header {
        padding: 2rem;
    }

    .header .navbar {
        display: none;
    }

    .hero {
       
    }

    .hero .hero-content {
        width: 100%;
        
    }

    .hero .hero-content h1 {
        width: 100%;
        font-size: 1.6rem;
    }

    .hero .hero-content p {
        width: 100%;
    }



    .cards {
        grid-template-columns: 1fr;
        
       
    }

    .productive-container {
        gap: 1rem;
    }

    .productive-container .content h1  {
        font-size: 1.8rem;
    }

    .productive-container .content {
        padding: 1rem;
    }

    .testimonials {
        grid-template-columns: 1fr;
    }

    .testimonials::before{
        content:url("images/bg-quotes.png");
        z-index: -1;
        position:absolute;
        left: 40px;
        top:-10px;
        
    }

    .access .form {
        max-width: 300px;
        padding: 1rem;
    }

    .access .form h1 {
        font-size: 1.4rem;
    }

    .access .form p {
        width: 100%;
    }

    .access .form form {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 1rem;
        
    }

    .access .form form input {
        width: 250px;
        margin:auto;

    }

    .access .form form a {
        width: 250px;
      
    }

    .footer {
        flex-wrap: wrap;
        flex-direction: column;
    }

}

@media (max-width: 375px) {

  

    .header .navbar {
        display: none;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .hero .hero-content h1 {
        font-size: 2rem;
        width: 100%;
    }

    .hero .hero-content p {
        width: 100%;
    }
}
